{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1 text-center my-4 text-dark font-weight-bold">Accueil</h1>
        </div>
    </div>
</div>
{% endblock %}
