{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="display-3 text-center my-4 text-dark font-weight-bold">Catégories</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-primary btn-sm">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

