{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Edit Category</h1>

        {{ include('admin_category/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_admin_category_index') }}" class="btn btn-secondary mt-3">Back to list</a>

        <div class="mt-3">
            {{ include('admin_category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
