{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }} 
    {{ form_widget(form, {'attr': {'class': 'form-control mb-3'}}) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button> <!-- Ajout de la classe "btn-primary" pour un bouton de sauvegarde stylisé -->
{{ form_end(form) }}
